<p id="notice"><%= notice %></p>
<div id="genre-show-detail"></div>

<%= javascript_tag do %>
	var genreInfo = {
			genreId: '<%= @tmdb_id %>',
			endpointUrl: '<%= genres_add_description_url %>',
			name: '<%= @name %>',
			parentId: '<%= @genre.id %>',
			userid: '<%= @user_id %>',
			noUserAnchorHref: '/users/sign_in',
			noUserAnchorText: 'Log In to Add Description ...',
			defaultText: 'No description has get been provided. Please consider providing a description for this genre.',
			descriptions: <%=  @genre.descriptions.to_json.html_safe %> 
	};
<% end %>