<p id="notice"><%= notice %></p>

<h1>Listing Imdb Titles</h1>

<table>
  <thead>
    <tr>
      <th>Titlekey</th>
      <th>Name</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imdb_titles.each do |imdb_title| %>
      <tr>
        <td><%= imdb_title.titleKey %></td>
        <td><%= imdb_title.name %></td>
        <td><%= imdb_title.year %></td>
        <td><%= link_to 'Show', imdb_title %></td>
        <td><%= link_to 'Edit', edit_imdb_title_path(imdb_title) %></td>
        <td><%= link_to 'Destroy', imdb_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imdb title', new_imdb_title_path %>
