	    <nav class="top-bar" data-topbar role="navigation">
		    <ul class="title-area">
		    	<li class="name">
		    		<h1><a href="/">Film Breakdown</a></h1>
		    	</li>

		    	<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		    </ul>
			  <section class="top-bar-section">
			    <!-- Right Nav Section -->
			    <ul class="right">
			      <!-- <li><a href="#">Right Button Active</a></li> -->
			      <li class="has-form">
			      	<form>
				      	<div class="large-12 columns" data-react-class="SearchBox" />
			      	</form>
			      </li>
			      <li><%= link_to "About", about_path %></li>
			      <li><%= link_to "Contact", contact_path %></li>
			      <li><%= link_to "Help", help_path %></li>
			      
				      <% if user_signed_in? %>
							  <li class="has-dropdown">
								  <%= link_to edit_user_registration_path do %>
								  	Logged in as <strong> <%= current_user.email %></strong>.
							  	<% end %>
								  <ul class="dropdown">
									  <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
									  <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
								  </ul>
							  </li>
							<% else %>
							<li class="has-dropdown">
							  <%= link_to "Account", new_user_session_path  %>
							  <ul class="dropdown">
								  <li><%= link_to "Sign up", new_user_registration_path  %></li>
								  <li><%= link_to "Login", new_user_session_path  %></li>
							  </ul>
					  	</li>
							<% end %>
						
			    </ul>

			    <!-- Left Nav Section -->
			    <ul class="left">
		          <li><%= link_to "Films", films_path %></li>
		          <li><%= link_to "Genres", genres_path %></li>
		          <li><%= link_to "Posts", posts_path %></li>
		          <li><%= link_to "Shots", shots_path %></li>
		          <li><%= link_to "Categories", categories_path %></li>
			    </ul>
			  </section>
		  </nav>
